# .gitignore

.env
__pycache__/
*.pyc
*.db
instance/
generate_secret.py

# Docker
.env.docker

# Terraform
*.tfvars
*.tfstate

# ANSIBLE - Arquivos temporários e sensíveis

*.retry
*.tmp
.ansible_collections/
ansible.log

# VIRTUALENV

venv/

# Secrets e configurações sensíveis
secret-template.yml
*-secrets.yml
*-secret.yml
secrets/**

# Configurações de ambiente específico (se não quiser versionar)
configmap-dev.yml
configMap-prod.yml